In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('E:\Last ML\Indian Liver Patient Dataset (ILPD).csv')
data.head()

<>:1: SyntaxWarning: invalid escape sequence '\L'
<>:1: SyntaxWarning: invalid escape sequence '\L'
C:\Users\Prasanna Pandhare\AppData\Local\Temp\ipykernel_2576\1702043049.py:1: SyntaxWarning: invalid escape sequence '\L'
  data = pd.read_csv('E:\Last ML\Indian Liver Patient Dataset (ILPD).csv')

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB  A/G Ratio  Selector
0   65  Female   0.7  0.1      187    16    18  6.8  3.3       0.90         1
1   62    Male  10.9  5.5      699    64   100  7.5  3.2       0.74         1
2   62    Male   7.3  4.1      490    60    68  7.0  3.3       0.89         1
3   58    Male   1.0  0.4      182    14    20  6.8  3.4       1.00         1
4   72    Male   3.9  2.0      195    27    59  7.3  2.4       0.40         1

In [3]:
data.isnull().sum()

Age          0
Gender       0
TB           0
DB           0
Alkphos      0
Sgpt         0
Sgot         0
TP           0
ALB          0
A/G Ratio    4
Selector     0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data['Gender'] = le.fit_transform(data['Gender'])

In [5]:
data.head()

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB  A/G Ratio  Selector
0   65       0   0.7  0.1      187    16    18  6.8  3.3       0.90         1
1   62       1  10.9  5.5      699    64   100  7.5  3.2       0.74         1
2   62       1   7.3  4.1      490    60    68  7.0  3.3       0.89         1
3   58       1   1.0  0.4      182    14    20  6.8  3.4       1.00         1
4   72       1   3.9  2.0      195    27    59  7.3  2.4       0.40         1

In [6]:
non_null_df = data.dropna(subset=['ALB', 'A/G Ratio'])

# Calculate the correlation between 'ALB' and 'A/G Ratio'
correlation = non_null_df['ALB'].corr(non_null_df['A/G Ratio'])

def fill_agr_missing(row):
    if pd.isnull(row['A/G Ratio']):
        return row['ALB'] * correlation
    return row['A/G Ratio']


data['A/G Ratio'] = data.apply(fill_agr_missing, axis=1)

In [7]:
data.isnull().sum()

Age          0
Gender       0
TB           0
DB           0
Alkphos      0
Sgpt         0
Sgot         0
TP           0
ALB          0
A/G Ratio    0
Selector     0
dtype: int64

In [8]:
data.to_csv('processed.csv', index=False)

In [9]:
df = pd.read_csv('processed.csv')

In [10]:
df.isnull().sum()

Age          0
Gender       0
TB           0
DB           0
Alkphos      0
Sgpt         0
Sgot         0
TP           0
ALB          0
A/G Ratio    0
Selector     0
dtype: int64

In [11]:
df.head()

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB  A/G Ratio  Selector
0   65       0   0.7  0.1      187    16    18  6.8  3.3       0.90         1
1   62       1  10.9  5.5      699    64   100  7.5  3.2       0.74         1
2   62       1   7.3  4.1      490    60    68  7.0  3.3       0.89         1
3   58       1   1.0  0.4      182    14    20  6.8  3.4       1.00         1
4   72       1   3.9  2.0      195    27    59  7.3  2.4       0.40         1

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle

# Split the data into feature columns (X) and the target column (y)
X = df.iloc[:, :-1]  # First 10 columns are feature columns
y = df.iloc[:, -1]  # Last column is the prediction result

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Random Forest classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the Random Forest model
rf_model.fit(X_train, y_train)

# Evaluate the model's performance on the testing data
y_pred = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

# Save the trained model as a .pkl file using the pickle module
pkl_filename = 'random_forest_model.pkl'
with open(pkl_filename, 'wb') as file:
    pickle.dump(rf_model, file)

print(f'Model saved as {pkl_filename}')

Accuracy: 72.65%
Model saved as random_forest_model.pkl

---